audio::-webkit-media-controls-panel {
	background-color: black;
}

audio::-webkit-media-controls-mute-button {
	background-color: #ec489a;
	border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
	background-color: #ec489a;
	border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
	background-color: rgba(249, 168, 212, 0.7);
}

audio::-webkit-media-controls-current-time-display {
	color: #ec489a;
}

audio::-webkit-media-controls-time-remaining-display {
	color: #ec489a;
}

audio::-webkit-media-controls-volume-slider {
	background-color: #ec489a;
	border-radius: 25px;
	padding-left: 8px;
	padding-right: 8px;
}
.audio-player {
	width: 100%;
	left: 0;
}

.App {
	background-color: black;
	min-height: 100vh;
	position: relative;
}
